body {
    height: 0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #050706;
}
   

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    margin-top: 65px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10%;
}

div {
    display: flex;  
}

header div img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

main {
    text-align: center;
}

a {
    text-decoration: none;
    color: #050706;
}

main {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer {
    background-color: #050706;
    text-align: center;
    margin-top: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
    position: relative;
    top: 40px;
}

footer ul li {
    margin-bottom: 93px;
    position: relative;
    right: 128px;
    list-style: none;
    display: inline-block;
    margin-left: 170px;
    margin-top: 65px;
    font-size: 35px;
    text-align: center;
    background-color: white;
    border-radius: 10%;
}

main img {
    display: inline;
    margin: 50px;
}

main ul li {
    list-style: none;
    display: inline-block;
    margin-left: 170px;
    margin-top: 65px;
    font-size: 35px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 110px;
    bottom: 80px;
}

form {
    margin: 100px;
    padding-left: 140px;
    position: relative;
}

nav {
    padding-left: 80px;
}

@media screen and (max-width:1024px){
    
}

@media screen and (max-width:768px){
    main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    div img {
        width: 50%;
        height: 50%;
        margin-top: 50px;
    }
}